body{
    font-family: 'Poppins', sans-serif;;
}
header{
    width: 100vw;
    height: 10vh;
    display: flex;
    /* box-shadow:; */
}
nav{
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    font-size: 1.2rem;
}
.links ul{
    display: flex;
}
li{
    list-style: none;
    font-weight: 600;
    padding: 10px;
}
a{
    text-decoration: none;
    color: #000000;
}
.btn, button{
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    background: #fc6603;
    border-radius: 5px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.d {
    /* background-color: red; */
    width: 100%;
    /* height: 600px; */
    background-image: url(../images/blogbackground.jpg);
    display: flex;
    /* justify-content: center; */
    /* margin-left: 100px; */
    background-size: cover;
}
.tu h1{
    color: #111;
    font-size: 50px;
    margin-left: 200px;
    margin-top: 100px;
}
.primary{
    color: #fc6603;
}

.d h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
}

.k {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 100px;
    margin-left: 40px;
}

.tips img {
    width: 400px;
}

.greenbell img {
    width: 400px;
}

.fresh img {
    width: 400px;
}

.tips1 {
    width: 75%;
    margin-top: -100px;
    height: 250px;
    margin-left: 40px;
    box-shadow: 15px, 15px, 7px grey;
    background-color: white;
    position: relative;
}

.m {
    width: 75%;
    margin-top: -100px;
    height: 250px;
    margin-left: 50px;
    box-shadow: 15px, 15px, 7px grey;
    background-color: white;
    position: relative;
}

.k1 {
    width: 75%;
    margin-top: -100px;
    height: 250px;
    margin-left: 40px;
    box-shadow: 15px, 15px, 7px grey;
    background-color: white;
    position: relative;
}

button {
    height: 50px;
    border-radius: 15px;
    border-color: yellow;
    background-color: #fc6603;
    margin-left: 100px;
    position: absolute;
    color: #fff;
    
}

.tips1A {
    width: 75%;
    margin-top: -100px;
    height: 250px;
    margin-left: 40px;
    box-shadow: 15px, 15px, 7px grey;
    background-color: white;
    position: relative;
}

.mA {
    width: 75%;
    margin-top: -100px;
    height: 250px;
    margin-left: 50px;
    box-shadow: 15px, 15px, 7px grey;
    background-color: white;
    position: relative;
}
.mA p{
    margin-left: 50px;
}
.mA h1{
    margin-left: 30px;
}
.k1A {
    width: 75%;
    margin-top: -100px;
    height: 200px;
    margin-left: 40px;
    box-shadow: 15px, 15px, 7px grey;
    background-color: white;
    position: relative;
}
.k1A p{
    margin-left: 30px;
}
.k1A h1{
    margin-left: 30px;
}

.kA {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 200px;
    margin-left: 40px;
}

.tipsA img {
    width: 400px;
    height: 300px;
}

.greenbellA img {
    width: 400px;
    height: 300px;
}

.freshA img {
    width: 400px;
}
.k1 h1{
margin-left: 30px;

}
.k1 p{
    margin-left: 40px;
}
.tips1A h1{
    margin-left: 10px;
    align-items: center;
}
.tips1A p{
    margin-left: 40px;
}
.logo-info > p {
    color: #fff;
    width: 70%;
    font-weight: 500;
}
.icons-social {
    display: flex;
    align-items: center;

    width: 30%;
    justify-content: space-between;
}
.tips1 h1{
    margin-left: 30px;
}
.tips1 p{
margin-left: 50px;
}

.m h1{
    margin-left: 30px;
}
.m p{
    margin-left: 40px;
}
.icons-social > img {
    background-color: azure;
    height: 18px;
    border-radius: 50%;
    padding: 5px;
    cursor: pointer;
}
.min-title {
    color: #fff;
    font-weight: 500;
}
.iphon-android {
    display: flex;
    align-items: center;
}
.iphon-android > img {
    height: 50px;
}
.first-li-column > ul > li {
    list-style-type: none;
    color: #fff;
    padding-bottom: 30px;
    padding-left: 0;
    font-weight: 500;
    cursor: pointer;
}
.first-li-column > ul {
    padding-left: 0px;
}
.footer-container {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    background-color: #000;
    padding: 0px 60px 0px;
    margin-top: 60px;
}
.right-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first-li-column {
    margin-left: 70px;
    /* background-color: red; */
    height: 200px;
    /* margin-bottom: 300px; */
}
.left-container {
    margin-top: 110px;
}
.terms-service {
    background-color: #000;
    margin-top: 0;
    padding-top: 30px;
    text-align: center;
    width: 100%;
    padding-bottom: 30px;
}
.terms {
    font-size: 16px !important;
    font-weight: 600;
}
.show-more {
    width: 90%;
    margin: 70px;

}
.btn-more{
    float: right;
    margin-bottom: 10px;}

    .container{
        width: 100%;
        margin: 70px auto;
    }
    .btn{
        border: none;
        border-radius: 10px;
        background: #fc6603;
        color: #fcfeff;
        padding: 10px 20px;
        font-size: 1.2rem;
        margin-left: 70px;
        margin-top: 30px;
    }
    .contact-box{
        display: flex;
    }
    .contact-left{
        flex-basis: 60%;
        padding: 40px 60px;
        background: #f8f8f8;
        margin-left: 70px;
    }
    .contact-right{
        flex-basis: 40%;
        padding: 40px;
        background: #111;
        color: #fff;
    }
    .form{
        margin-bottom: 10px;
        margin-left: 70px;
        font-size: 35px;
    
    }
    .part2{
        margin-bottom: 40px;
        margin-left: 70px;
        font-size: 20px;
    }
    .input-row{
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .input-row .input-group{
        flex-basis: 45%;
    }
    input{
        width: 100%;
        border: none;
        /* border-bottom: 1px solid #111; */
        outline: none;
        padding-bottom: 5px;
    }
    textarea{
        width: 100%;
        border: 1px solid #111;
        outline: none;
        padding: 10px;
        box-sizing: border-box;
    }
    label{
        margin-bottom: 6px;
        display: block;
    }
    .btn1{
        background: #fc6603;
        width: 100px;
        border: none;
        outline: none;
        color: #fff;
        border-radius: 20px;
        height: 40px;
        font-size: 1.2rem;
        margin-top: 20px;
    }
    .butt button{
        float: left;
    }
    .contact-left h3{
        font-weight: 600;
        margin-bottom: 30px;
    }
    .contact-right h3{
        color: #fc6603;
        font-weight: 600;
        margin-bottom: 30px;
    }
    tr td:first-child{
        padding-right: 20px;
    }
    tr td{
        padding-top: 20px;
    }
    .fa-solid{
        color: #fc6603;
        margin-right: 5px;
    }

