*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}


.topnav{
  overflow: hidden;
  background-color: #f8f8f8;
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding-top: 20px;
}
.logo {
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bolder;
  margin-left: 30px;
}
.btnSearch{
  padding: 10px 20px; 
  background: #fc6603;
  border: none;
  font-size: 1.2rem;
  border-radius: 5px;
}
.brands{
  padding: 10px;
  font-size: 1.1rem;
  width: 30rem;
  border:none
}
.links{
  display: flex;
  justify-content: space-between;
}
.links a{
  text-decoration: none;
  color: black;
  padding: 10px 20px;
  font-size: 20px;
}
.fa-cart-plus, .fa-circle-question, .fa-user{
  color: #fc6603;
}
.background{
  background-color:#cfceca;
}
.subheading1 {
  width: 100%;

  padding-top: 50px;
  display: flex;
  flex-direction: row;
  text-align: left;}
.section1 {
  width: 50%;
  margin-left: 10%;
}
#header-text {
  color: black;
  font-size: 45px;
  letter-spacing: 2px;
  font-weight: bolder;}
  #subheader-text{
    color: green;
    font-style: "handwritten";
    font-weight: bolder;
    font-size: x-large;
    
  }

.section1{
  text-align: left;
  margin-top: 40px;
  font-style: oblique;
  font-size: large;
}
.section2 {
  width: 50%;
  margin-left: -1%;

}
.subeading1{
  display: flex;
  flex-direction: row;
}
.deals{
  text-align: center;
  font-size: xx-large;
  margin-top: 20px;
  font-style: oblique;
  font-weight: bolder;
}
.deals-text{
  text-align: center;
  color: green;
  font-size: x-large;
  font-weight: bolder;
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: blue;
  font-size: 40px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-style: italic;
}

/* Number text */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Product Categories*/
.products-category {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
  justify-content: space-around;
}
.product-subtext {
  text-align: center;
  font-size: 25px;
  width: 100%;
  color: black;
  font-family: "Edu VIC WA NT Beginner";
}
.product-text {
  text-align: center;
  font-size: 15px;
  width: 100%;
  color: black;
}
.product-subheading {
  text-align: center;
  font-size: xx-large;

}
.products-heading {
  text-align: center;
  font-size: xx-large;
  margin-top: 20px;
  text-decoration: solid;

}

.Topsales{
  width: 100%;
  margin-left: 0%;
  margin-top: 2rem;
  height: 400px;
  flex-direction: row;
  display: flex;
  text-align: left;
  margin-left: 10%;
}
.Top-Sales:hover {
  opacity: 0.7;
  text-decoration: underline;
  text-decoration-color: #ed661f;
}
.Fresh-tomatoes {
  width: 20%;
  margin-right: 2rem;
  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.Onion {
  width: 20%;
  margin-right: 2rem;
  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.Oranges {
  width: 20%;
  margin-right: 2rem;

  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.Strawberries {
  width: 20%;
  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.products-category2{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
justify-content: space-around;}
  
.Grapes{
  width: 20%;
  margin-right: 2rem;
  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.redonions {
  width: 20%;
  margin-right: 2rem;
  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.lemon {
  width: 20%;
  margin-right: 2rem;

  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.Apples {
  width: 20%;
  background-color: #fafafa;
  font-size: 17px;
  text-align: center;
}
.products-category3{
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-left: 10%;
justify-content: space-around;}
  .flowers{
    width: 20%;
    margin-right: 2rem;
    background-color: #fafafa;
    font-size: 17px;
    text-align: center;
  }
  .maize{
    width: 20%;
    margin-right: 2rem;
    background-color: #fafafa;
    font-size: 17px;
    text-align: center;
  }
  .carrots {
    width: 20%;
    margin-right: 2rem;
  
    background-color: #fafafa;
    font-size: 17px;
    text-align: center;
  }
  .cabbage {
    width: 20%;
    background-color: #fafafa;
    font-size: 17px;
    text-align: center;
  }
.border {
  padding: 20px;
  background-color: grey;
}
/* FOOTER SECTION START*/
.footer {
  width: 100%;
  flex-direction: row;
  display: flex;
  margin-right: 3rem;
  background-color: black;
  margin-top: 1rem;
  color: white;
}
.footerBox {
  margin-left: 10%;
  width: 20%;
  margin-left: 5%;
}
.footer-social li {
  float: left;
}
.fa li {
  padding: 25px;
  text-align: center;
  text-decoration: none;
  margin-right: 15px;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

/* .fa-facebook-square {
  margin: 10px;
  color: white;
  font-size: 20px;
  background: #ed661f;
}

.fa-twitter {
  margin: 10px;
  background: #ed661f;
  color: white;
  font-size: 20px;
}


.fa-instagram-square {
  margin: 10px;
  background: #ed661f;
  color: white;
  font-size: 20px;
} */
.fa-brands{
  color: #fc6603;
  font-size: 40px;
  margin: 10px;
}
.rights{
  margin-bottom: 40px;
}
/* FOOTER SECTION END*/
